<main>
  <mat-card>
    <mat-card-title>
      IpTracker
    </mat-card-title>
    <form>
      <mat-form-field class="example-full-width" color="accent">
        <mat-label>Enter your name</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field class="example-full-width" color="accent">
        <mat-label>Enter your IP address</mat-label>
        <input matInput />
      </mat-form-field>
      <div class="button-holder">
        <button mat-raised-button color="accent">
          TRACK IP
        </button>
      </div>
    </form>
  </mat-card>
</main>
