main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  height: 33%;
}

@media (min-width: 900px) {
  mat-card {
    height: 25%;
  }
}

@media (min-width: 600px) {
  mat-card {
    height: 25%;
  }
}

mat-form-field {
  width: 100%;
}

form {
  display: flexbox;
}

mat-spinner {
  margin: 0 auto;
}

.button-holder {
  justify-content: flex-end;
  display: flex;
}

.spinner::ng-deep circle {
  stroke: white;
}
